---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}

    {% assign home_title = page.home_title | default: site.title %}
    {% assign home_subtitle = page.home_subtitle | default: site.subtitle %}
    {% assign home_description = page.home_description | default: site.description %}

    {% if home_title %}
      <h1>
        {{ home_title }}
      </h1>
    {% endif %}

    {% if home_subtitle %}
      <h2>
        {{ home_subtitle }}
      </h2>
    {% endif %}

    {% if home_description %}
      <p class="site-description">
        {{ home_description }}
      </p>
    {% endif %}

    {% if page.home_signature %}
      <p class="site-signature">
        <strong>{{ page.home_signature }}</strong><sup>*</sup><br>
        <small class="site-footnote">*{{ page.home_footnote }}</small>
      </p>
    {% endif %}

  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
      Page {{ paginator.page }}
    {% else %}
      Contents
    {% endif %}
  </h1>

  {% if site.paginate and site.paginate_path %}

    <ul class="post-list">
      {% for post in paginator.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}

      <div class="post-pagination">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | relative_url }}" class="pagination-next btn">&lang;&nbsp;Older</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
        <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-previous btn">Newer&nbsp;&rang;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
      </div>

    {% endif %}

  {% else %}

    <ul class="post-list">
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>

  {% endif %}

</main>